.pokemon-container {
    max-width: 6000px;
    margin: 0 auto;
    padding: 20px;

    border: 2px solid black;
}

.pokemon-list {
    display: flex; /* 요소를 가로로 정렬 */
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-title{
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    border: 2px solid black;
}


.pokemon-story {
    width: 90%;
    margin: 0 auto 20px auto;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;

    /* 텍스트가 생겼다 사라져도 레이아웃이 밀리지 않게 최소 높이 설정 */
    min-height: 60px;

    /* \n 문자를 줄바꿈으로 인식하게 함 */
    white-space: pre-line;

    text-align: center;
    font-size: 1.1em;
    color: #555;

    /* 부드러운 효과 */
    transition: all 0.3s ease;
}

.pokemon-card {
    max-width: 300px;
    border: 2px solid black;
    margin: 30px;
}

.pokemon-card:hover{
    transform: translateY(-5px);
}


.pokemon-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.pokemon-info {
    border-top: 2px solid black;
}

.pokemon-info h3 {
    margin: 0;
    color: #333333;
}