.pokemon-container {
    max-width: 6000px;
    margin: 0 auto;
    padding: 20px;

    /*border: 2px solid black;*/
}

.pokemon-list {
    display: flex; /* 요소를 가로로 정렬 */
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-title{
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.pokemon-story {
    width: 100%;
    margin: 0 auto 20px auto;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;

    /* 텍스트가 생겼다 사라져도 레이아웃이 밀리지 않게 최소 높이 설정 */
    min-height: 60px;

    /* \n 문자를 줄바꿈으로 인식하게 함 */
    white-space: pre-line;

    text-align: center;
    font-size: 1.1em;
    color: #555;

    /* 부드러운 효과 */
    transition: all 0.5s ease;
}

.pokemon-card {
    max-width: 300px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    margin: 30px;

    /* 가운데 정렬 쓸 경우 자주 쓰게 될 속성들 */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 모션을 부드럽게 바꿔줌 */
    transition: all 0.5s ease;

    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-card:hover{
    transform: translateY(-5px);
}


.pokemon-img {
    width: 85%;
    object-fit: cover;
    /*border: 1px solid darkgrey;*/
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.pokemon-info {
    /*border-top: 1px solid black;*/
}

.pokemon-info h3 {
    margin-bottom: 5;
    color: #333333;
    font-size: 1.2em;
}