div{
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px gray; /* 좌우상하 순. 자리 기준 좌우상까지만 숫자가 적혀있는데, 하에 해당하는 부위는 기본 색 지정. 그걸 gray 색으로 칠함 */
    background-color: #3d8c40;
}